@import url('global/common/common');
@import url('global/common/footer');
@import url('global/common/header');
@import url('global/common/logo');
@import url('global/common/nav');
@import url('global/common/section');
@import url('global/common/routing-effect');
@import url('global/buttons/burger-button');
