.tippy-box[data-theme~='light'] {
  color: theme('colors.dark') !important;
  font: 400 14px / 1.5 theme('fontFamily.secondary');

  box-shadow:
    0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background: theme('colors.light.DEFAULT') !important;
}
