@layer utilities {
  .text {
    line-height: 1.5;

    @apply font-primary empty:hidden;

    &_xl {
      @apply text text-xl;

      & {
        @include mediaTablet {
          @apply text-lg;
        }
      }
    }

    &_base {
      @apply text text-lg;

      & {
        @include mediaTablet {
          @apply text-base;
        }
      }
    }

    &_xs {
      @apply text text-sm;

      & {
        @include mediaTablet {
          @apply text-xs;
        }
      }
    }
  }

  .h1 {
    @apply font-secondary text-8xl font-bold;

    & {
      @include mediaTablet {
        @apply text-6xl;
      }

      @include mediaMobile {
        @apply text-4xl;
      }
    }
  }

  .h2 {
    @apply font-secondary text-6xl font-bold;

    & {
      @include mediaTablet {
        @apply text-4xl;
      }

      @include mediaMobile {
        @apply text-2xl;
      }
    }
  }

  .h1,
  .h2 {
    line-height: 1.2;
  }

  .text-accent,
  strong {
    @apply text-primary;
    font: inherit;
  }
}
