@layer components {
  .burger-button {
    --button-animation: var(--button-duration) var(--button-ease);
    --button-duration: theme('transitionDuration.default');
    --button-ease: theme('transitionTimingFunction.default');

    @apply relative z-10 ml-auto hidden size-10 shrink-0 rounded bg-light;

    & {
      @include media(780px) {
        @apply flex;
      }
    }

    &::before,
    &::after,
    span {
      transition:
        transform var(--button-animation),
        width var(--button-animation),
        top var(--button-animation) calc(var(--button-duration) / 2),
        bottom var(--button-animation) calc(var(--button-duration) / 2);

      @apply absolute bottom-0 left-0 right-0 top-0 m-auto h-0.5 w-3/6 rounded-full bg-dark2/90 content-[''];
    }

    &::before {
      @apply bottom-1/3;
    }

    &::after {
      @apply top-1/3;
    }

    &.active {
      &::before,
      &::after {
        transition:
          transform var(--button-animation) calc(var(--button-duration) / 2),
          top var(--button-animation),
          bottom var(--button-animation);
      }

      &::before {
        @apply bottom-0 rotate-45;
      }

      &::after {
        @apply top-0 -rotate-45;
      }

      span {
        @apply w-0;
      }
    }
  }
}
