@layer components {
  .logo-image {
    @include hover {
      .logo-icon path {
        &:first-child {
          @apply opacity-0;
        }

        &:not(:first-child) {
          @apply animation-default translate-x-[5%] translate-y-[22%] rotate-[-30deg] scale-[1.15] transition-transform;
        }
      }
    }
  }

  .logo-icon {
    path {
      @apply animation-default origin-[0%_75%] transition-[transform_opacity];
    }
  }
}
