.prismium.prismium_dark {
  --pr-bg: #1c1c1c;
  --pr-bg-active: var(--pr-bg);
  --pr-bg-hover: #222222;
  --pr-bg-nested: var(--pr-bg);
  --pr-bg-nested-active: #ffffff05;
  --pr-border-color: #3a3a3a;
  --pr-border-radius: 16px;
  --pr-border-width: 1px;
  --pr-content-color: #f1f1f1;
  --pr-content-font: 400 16px / 1.2 sans-serif;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-color: #fafafa;
  --pr-current-font: 500 20px / 1.2 sans-serif;
  --pr-current-gap: 20px;
  --pr-gap: 10px;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-color-hover: #56e6de;
  --pr-icon-size: 24px;
  --pr-padding: 12px;
}
