.prismium.prismium_dark {
  --prismium-background-color-active: #0f0f0f;
  --prismium-background-color-active-nested: #FFF05;
  --prismium-background-color-disabled: #3a3a3a;
  --prismium-background-color-hover: #0e0e0e;
  --prismium-background-color-primary: #2b2b2b;
  --prismium-border-color-primary: #3a3a3a;
  --prismium-border-radius: 12px;
  --prismium-border-width: 1px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 20px/1.2 sans-serif;
  --prismium-font-secondary: 500 16px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: #56e6de;
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 24px;
  --prismium-link-color-hover: #fcb0fc;
  --prismium-link-color-primary: #56e6de;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #dfdfdf;
  --prismium-text-color-secondary: #b3b3b3;
}
