.prismium.prismium_dark {
  --pr-bg-active: #0f0f0f;
  --pr-bg-active-nested: #FFF05;
  --pr-bg-hover: #0e0e0e;
  --pr-bg: #2b2b2b;
  --pr-border-color: #3a3a3a;
  --pr-border-radius: 12px;
  --pr-border-width: 1px;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-gap: 20px;
  --pr-anim-duration: 0.35s;
  --pr-current-font: 500 20px/1.2 sans-serif;
  --pr-content-font: 500 16px/1.2 sans-serif;
  --pr-gap: 10px;
  --pr-icon-color-hover: #56e6de;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-size: 24px;
  --pr-padding: 12px;
  --pr-current-color: #dfdfdf;
  --pr-content-color: #b3b3b3;
}
