.prismium.prismium_dark {
  --prismium-background-color-active: #0F0F0F;
  --prismium-background-color-active-nested: #FFF05;
  --prismium-background-color-disabled: #3A3A3A;
  --prismium-background-color-hover: #0E0E0E;
  --prismium-background-color-primary: #2B2B2B;
  --prismium-border-color-primary: #3A3A3A;
  --prismium-border-radius: 12px;
  --prismium-border-width: 1px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 20px/1.2 sans-serif;
  --prismium-font-secondary: 500 16px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: #56E6DE;
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 24px;
  --prismium-link-color-hover: #FCB0FC;
  --prismium-link-color-primary: #56E6DE;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #DFDFDF;
  --prismium-text-color-secondary: #B3B3B3;
}
