.prismium.prismium_dark-contrast {
  --prismium-background-color-active: #0F0F0F;
  --prismium-background-color-disabled: #363636;
  --prismium-background-color-hover: #1D1D1D;
  --prismium-background-color-primary: #000;
  --prismium-border-color-primary: #FFF;
  --prismium-border-radius: 12px;
  --prismium-border-width: 2px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 36px/1.2 sans-serif;
  --prismium-font-secondary: 500 24px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: var(--prismium-link-color-primary);
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 48px;
  --prismium-link-color-hover: #FEF;
  --prismium-link-color-primary: #E8FFFE;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #F0F0F0;
  --prismium-text-color-secondary: #B3B3B3;
}
