.prismium.prismium_forest {
  --pr-bg-active: #d8eecc;
  --pr-bg-active-nested: #61ff051c;
  --pr-bg-hover: #e8f0e8;
  --pr-bg: #f5faf5;
  --pr-border-color: #7a917a;
  --pr-border-radius: 2px;
  --pr-border-width: 1px;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-gap: 20px;
  --pr-anim-duration: 0.35s;
  --pr-current-font: 500 20px/1.2 sans-serif;
  --pr-content-font: 500 16px/1.2 sans-serif;
  --pr-gap: 10px;
  --pr-icon-color-hover: #1b4d29;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-size: 24px;
  --pr-padding: 12px;
  --pr-current-color: #1a291e;
  --pr-content-color: #415445;
}
