.prismium.prismium_forest {
  --pr-bg: #f5f5dc;
  --pr-bg-active: var(--pr-bg);
  --pr-bg-hover: #eaeac5;
  --pr-bg-nested: var(--pr-bg);
  --pr-bg-nested-active: #d8d8a899;
  --pr-border-color: #c0c090;
  --pr-border-radius: 4px;
  --pr-border-width: 1px;
  --pr-content-color: #191b0c;
  --pr-content-font: 500 16px / 1.2 sans-serif;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-color: #191b0c;
  --pr-current-font: 500 20px / 1.2 sans-serif;
  --pr-current-gap: 20px;
  --pr-gap: 10px;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-color-hover: #8fbc8f;
  --pr-icon-size: 24px;
  --pr-padding: 12px;
}
