.prismium.prismium_forest {
  --prismium-background-color-active: #D8EECC;
  --prismium-background-color-active-nested: #61FF051C;
  --prismium-background-color-disabled: #8FA890;
  --prismium-background-color-hover: #E8F0E8;
  --prismium-background-color-primary: #F5FAF5;
  --prismium-border-color-primary: #7A917A;
  --prismium-border-radius: 4px;
  --prismium-border-width: 1px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 20px/1.2 sans-serif;
  --prismium-font-secondary: 500 16px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: var(--prismium-link-color-primary);
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 24px;
  --prismium-link-color-hover: #1C3F26;
  --prismium-link-color-primary: #1B4D29;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #1A291E;
  --prismium-text-color-secondary: #415445;
}
