.prismium.prismium_light {
  --pr-bg-active: #f7fdfd;
  --pr-bg-active-nested: #8efdff13;
  --pr-bg-hover: #dfffff;
  --pr-bg: #fcffff;
  --pr-border-color: #c5c5c5;
  --pr-border-radius: 12px;
  --pr-border-width: 1px;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-gap: 20px;
  --pr-anim-duration: 0.35s;
  --pr-current-font: 500 20px/1.2 sans-serif;
  --pr-content-font: 500 16px/1.2 sans-serif;
  --pr-gap: 10px;
  --pr-icon-color-hover: #3234b4;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-size: 24px;
  --pr-padding: 12px;
  --pr-current-color: #202020;
  --pr-content-color: #4c4c4c;
}
