.prismium.prismium_light-contrast {
  --pr-bg-active: #fff;
  --pr-bg-hover: #e2e2e2;
  --pr-bg: #f5f5f5;
  --pr-border-color: #000;
  --pr-border-radius: 12px;
  --pr-border-width: 2px;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-gap: 20px;
  --pr-anim-duration: 0.35s;
  --pr-current-font: 500 36px/1.2 sans-serif;
  --pr-content-font: 500 24px/1.2 sans-serif;
  --pr-gap: 10px;
  --pr-icon-color-hover: #430049;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-size: 48px;
  --pr-padding: 12px;
  --pr-current-color: #131313;
  --pr-content-color: #1f1f1f;
}
