.prismium.prismium_light-contrast {
  --prismium-background-color-active: #FFF;
  --prismium-background-color-disabled: #C5C5C5;
  --prismium-background-color-hover: #E2E2E2;
  --prismium-background-color-primary: #F5F5F5;
  --prismium-border-color-primary: #000;
  --prismium-border-radius: 12px;
  --prismium-border-width: 2px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 36px/1.2 sans-serif;
  --prismium-font-secondary: 500 24px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: var(--prismium-link-color-primary);
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 48px;
  --prismium-link-color-hover: #430049;
  --prismium-link-color-primary: #000142;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #131313;
  --prismium-text-color-secondary: #1F1F1F;
}
