.prismium.prismium_light {
  --prismium-background-color-active: #f7fdfd;
  --prismium-background-color-active-nested: #8efdff13;
  --prismium-background-color-disabled: #c5c5c5;
  --prismium-background-color-hover: #dfffff;
  --prismium-background-color-primary: #fcffff;
  --prismium-border-color-primary: #c5c5c5;
  --prismium-border-radius: 12px;
  --prismium-border-width: 1px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 20px/1.2 sans-serif;
  --prismium-font-secondary: 500 16px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: var(--prismium-link-color-primary);
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 24px;
  --prismium-link-color-hover: #c93ad6;
  --prismium-link-color-primary: #3234b4;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #202020;
  --prismium-text-color-secondary: #4c4c4c;
}
