.prismium.prismium_ocean {
  --pr-bg-active: #cce4ee;
  --pr-bg-active-nested: #05a6ff1c;
  --pr-bg-hover: #e8edf0;
  --pr-bg: #f5f8fa;
  --pr-border-color: #7a8891;
  --pr-border-radius: 24px;
  --pr-border-width: 1px;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-gap: 20px;
  --pr-anim-duration: 0.35s;
  --pr-current-font: 500 20px/1.2 sans-serif;
  --pr-content-font: 500 16px/1.2 sans-serif;
  --pr-gap: 10px;
  --pr-icon-color-hover: #1b374d;
  --pr-icon-color: var(--pr-current-color);
  --pr-icon-size: 24px;
  --pr-padding: 16px;
  --pr-current-color: #1a2229;
  --pr-content-color: #414954;
}
