.prismium.prismium_ocean {
  --pr-bg: #f0fbff;
  --pr-bg-active: #d9f4fc;
  --pr-bg-hover: #c2ecfa;
  --pr-bg-nested: var(--pr-bg);
  --pr-bg-nested-active: #cdfafa62;
  --pr-border-color: #8a8a8a69;
  --pr-border-radius: 22px;
  --pr-border-width: 1px;
  --pr-content-color: #000000;
  --pr-content-font: 500 16px / 1.2 sans-serif;
  --pr-content-gap: 20px;
  --pr-content-offset: 20px;
  --pr-current-color: #000000;
  --pr-current-font: 500 20px / 1.2 sans-serif;
  --pr-current-gap: 20px;
  --pr-gap: 10px;
  --pr-icon-color: #000000;
  --pr-icon-color-hover: #0e3644;
  --pr-icon-size: 24px;
  --pr-padding: 12px;
}
