.prismium.prismium_ocean {
  --prismium-background-color-active: #CCE4EE;
  --prismium-background-color-active-nested: #05A6FF1C;
  --prismium-background-color-disabled: #90A2A8;
  --prismium-background-color-hover: #E8EDF0;
  --prismium-background-color-primary: #F5F8FA;
  --prismium-border-color-primary: #7A8891;
  --prismium-border-radius: 24px;
  --prismium-border-width: 1px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 20px/1.2 sans-serif;
  --prismium-font-secondary: 500 16px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: var(--prismium-link-color-primary);
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 24px;
  --prismium-link-color-hover: #1C2F3F;
  --prismium-link-color-primary: #1B374D;
  --prismium-link-decoration: underline;
  --prismium-padding: 16px;
  --prismium-text-color-primary: #1A2229;
  --prismium-text-color-secondary: #414954;
}
