.prismium.prismium_sunset {
  --pr-bg: #fdf6e3;
  --pr-bg-active: #f5e8c7;
  --pr-bg-hover: #f0e4bf;
  --pr-bg-nested: var(--pr-bg);
  --pr-bg-nested-active: #fae9bd70;
  --pr-border-color: #d3c4a1;
  --pr-border-radius: 12px;
  --pr-border-width: 1px;
  --pr-content-color: #5b4636;
  --pr-content-font: 500 16px / 1.5 'Georgia', serif;
  --pr-content-gap: 16px;
  --pr-content-offset: 16px;
  --pr-current-color: #5b4636;
  --pr-current-font: 600 18px / 1.5 'Georgia', serif;
  --pr-current-gap: 16px;
  --pr-gap: 8px;
  --pr-icon-color: #5b4636;
  --pr-icon-color-hover: #4e4835;
  --pr-icon-size: 20px;
  --pr-padding: 10px;
}
