.prismium.prismium_sunset {
  --prismium-background-color-active: #ffe6cc;
  --prismium-background-color-active-nested: #ffab4b11;
  --prismium-background-color-disabled: #a89090;
  --prismium-background-color-hover: #fff0e8;
  --prismium-background-color-primary: #fff7f5;
  --prismium-border-color-primary: #916f7a;
  --prismium-border-radius: 16px;
  --prismium-border-width: 1px;
  --prismium-content-gap: 20px;
  --prismium-content-offset: 20px;
  --prismium-current-gap: 20px;
  --prismium-duration: 0.35s;
  --prismium-font-primary: 500 20px/1.2 sans-serif;
  --prismium-font-secondary: 500 16px/1.2 sans-serif;
  --prismium-gap: 10px;
  --prismium-icon-color-hover: var(--prismium-link-color-primary);
  --prismium-icon-color-primary: var(--prismium-text-color-primary);
  --prismium-icon-size: 24px;
  --prismium-link-color-hover: #8b3e1c;
  --prismium-link-color-primary: #963b1b;
  --prismium-link-decoration: underline;
  --prismium-padding: 12px;
  --prismium-text-color-primary: #291f1a;
  --prismium-text-color-secondary: #544137;
}
