* {
  -webkit-tap-highlight-color: transparent;

  @apply box-border;
}

.page {
  scroll-padding: calc(
    var(--global-header-height, 0px) + var(--grid-row-gap, 10px)
  );

  @apply text-theme-text h-full scroll-smooth text-balance text-[16px];

  &__body {
    @apply bg-theme-bg m-0 min-h-full min-w-[300px];
  }
}

.main {
  @apply flex h-auto flex-col;
}

::selection {
  @apply bg-theme-accent text-theme-text;
}

.wrapper {
  padding-top: var(--global-header-height, 0px);

  @apply animation-default relative z-10 flex min-h-screen flex-col items-stretch;

  &__content {
    @apply flex grow flex-col;
  }
}

.footer {
  @apply mt-auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);

  @apply absolute -m-px size-px overflow-hidden border-0 p-0;
}

.reset-styles {
  @apply m-0 p-0;
}
