// RockStar
@font-face {
  font-family: RockStar;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/RockStar/RS-regular.woff2') format('woff2');
}

@font-face {
  font-family: RockStar;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/RockStar/RS-semibold.woff2') format('woff2');
}

@font-face {
  font-family: RockStar;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/RockStar/RS-extrabold.woff2') format('woff2');
}

// Montserrat
@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
}
