* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.page {
  height: 100%;
  color: var(--current-text-color);
  font: var(--current-font);
  font-size: 16px; // Не менять на rem
  text-wrap: balance;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding: calc(
    var(--global-header-height, 0px) + var(--grid-row-gap, 10px)
  );

  &:has(.header_hidden) {
    scroll-padding: var(--grid-row-gap, 10px);
  }
}

.page__body {
  margin: 0;
  min-width: 320px; // Минимальный размер макета
  min-height: 100%;
  background-color: var(--current-background-color);

  @include scrollbar();
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

::selection {
  color: var(--current-background-color);
  background: var(--current-accent-color);
}

::selection {
  color: var(--current-background-color);
  background: var(--current-accent-color);
}

.disable-scroll {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: relative;
  z-index: 1;
  padding-top: var(--global-header-height, 0); // фикс фиксированной шапки
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.footer {
  margin-top: auto;

  .js-document-scroll & {
    padding-bottom: var(--global-header-height, 0); // фикс фиксированной шапки
  }
}

.input {
  background-color: var(--current-background-color);
  border: none;
  border-radius: 0;
  appearance: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &[type='number'] {
    appearance: textfield;
    appearance: none;
  }
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.reset-styles {
  margin: 0;
  padding: 0;
}

.image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  user-select: none;

  &:not(a) {
    pointer-events: none;
  }

  & img,
  & picture {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

.elite-backdrop {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--disabled-dark);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility var(--animation-default),
    opacity var(--animation-default);
  cursor: pointer;

  &_show {
    visibility: visible;
    opacity: 1;
  }
}

.text {
  margin: 0;
  width: 100%;
  display: block;
  font-family: var(--font-primary);

  &_rs {
    font-family: var(--font-secondary);
  }
}
