.nav {
  --nav-bg-color: var(--bg-light);
  --nav-font: 400 #{rem(16)}/ 1.5 var(--font-secondary);
  --nav-gap: #{rem(15)};
  --nav-icon-size: #{rem(30)};
  --nav-text-color: var(--text-light-primary);
  --nav-text-color-hover: var(--text-dark-primary);

  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--nav-gap);

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--nav-gap);
    list-style: none;

    & .nav__list {
      position: absolute;
      z-index: 1;
      top: calc(100% + #{rem(5)});
      right: 0;
      margin-top: rem(-10);
      padding: rem(15) rem(10);
      width: fit-content;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: calc(var(--nav-gap, #{rem(20)}) / 2);
      box-shadow: 0 -2px 10px rgb(167 125 235 / 10%);
      background-color: var(--bg-dark-secondary);
      border-radius: var(--radius-card);
      visibility: hidden;
      opacity: 0;
      transition:
        margin-top var(--animation-default),
        visibility var(--animation-default),
        opacity var(--animation-default);

      & .nav {
        &__item,
        &__link {
          width: 100%;
          white-space: nowrap;
        }
      }

      & > hr {
        display: block;
      }
    }

    & > hr {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 1px;
      display: none;
      background-color: var(--stroke-light);
      border: none;
    }
  }

  &__item {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: block;
    border-radius: var(--radius-btn);

    &:hover {
      & .nav__list {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
      }

      @media (any-hover: hover) {
        & > .nav__link {
          color: var(--nav-text-color-hover);
          background-color: var(--nav-bg-color);

          & > .nav__icon {
            fill: var(--nav-text-color-hover);
          }
        }
      }
    }
  }

  &__link {
    padding: rem(10);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--nav-gap) / 2);
    color: var(--text-light-primary);
    font: var(--nav-font);
    text-decoration: none;
    white-space: nowrap;
    border-radius: var(--radius-btn);
    transition:
      color var(--animation-default),
      background-color var(--animation-default);
    cursor: pointer;

    @include hover {
      color: var(--nav-text-color-hover);
      background-color: var(--nav-bg-color);

      & .nav__icon {
        fill: var(--nav-text-color-hover);
      }
    }

    & .text {
      width: fit-content;
    }
  }

  &__icon {
    width: var(--nav-icon-size);
    height: var(--nav-icon-size);
    fill: var(--nav-text-color);
    transition: fill var(--animation-default);
  }
}

@import url('nav_mobile');
