.page-enter-active,
.page-leave-active {
  top: 0;
  transition: all var(--animation-default);
}

.page-enter-from,
.page-leave-to {
  filter: blur(20px);
  opacity: 0;
}

[data-page-transition='slide-left'] {
  .page-enter-from {
    transform: translateX(100%);
  }

  .page-leave-to {
    transform: translateX(-100%);
  }
}

[data-page-transition='slide-right'] {
  .page-enter-from {
    transform: translateX(-100%);
  }

  .page-leave-to {
    transform: translateX(100%);
  }
}
