@import './prismium.scss';

@import './themes/dark-contrast.scss';
@import './themes/dark.scss';
@import './themes/light-contrast.scss';
@import './themes/light.scss';
@import './themes/forest.scss';
@import './themes/ocean.scss';
@import './themes/sunset.scss';
